@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
$ghost: ghostwhite;
$gem: 'font-awesome-sass';

head{
    .shortcut{
        
    }
}
::selection{
    background-color: black;
    color: yellowgreen;
}
body{
    overflow-x: hidden;
    font-family: 'Bonheur Royale', cursive ;
    .main{
        // margin: 0 3px;
    .first{
    background: url("/images/cake-4910417.jpg") no-repeat center center / cover;
    height: 500px;
    .continue{
        width: 600px;
        left: 500px;
        text-align: center;
        position: relative;
        color: #000;
        .bon1{
            text-shadow: 0 0 10px white;
        }
        .bonu{
            // width: 400px;
            margin-top: 90px;
            font-size:100px;
            text-shadow: 0 0 10px white;
        }
        .bon{
            text-shadow: 0 0 10px black;
        }
        button{
            border: none;
            border-radius: 30px;
            background-color: #3adfa7;
            box-shadow: 9px 8px 100px #3adfa7;
        }
        .congratulations{
            z-index: 30;
            position: absolute;
            top: -50px;
            left: -17%;
            display: none;
        }
    }

    .container1{
        top: 0;
        z-index: 2;
        padding-top: 10px;
        // display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
        }
        .bon{
            width: 70px;
            text-shadow: 0 0 10px black;
            color: white;
        }
        .inp{
            width: 200px;
            font-family: sans-serif;
            font-size: 20px;
            margin-left: 70px;
            background:linear-gradient(to bottom, transparent, pink);
            border-radius: 5px;
            color:$ghost;
            outline: none;
            border: none;
            border-bottom:2px solid red;
            &::placeholder{
                color:$ghost ;
            }
        }
        img{
            width: 30px;
            margin-left: 20px;
        }
        .end{
            display: flex;

            a{
                text-decoration: none;
                color: white;
                text-shadow: 0 0 10px black;
                font-size: 20px;
                margin-top: 10px;
                margin-left: 40px !important;
            }
            img{
                cursor: pointer;
            }
            .set{
                margin-left: 40px;
            }
            .settings{
                display: none;
                opacity: 0.5;
                font-family: sans-serif;
                background-color: grey;
                position: absolute;
                border-radius: 10px;
                top: 70px;
                left: 90.5%;
                width: 140px;
                height: 150px;
                .tran{
                    position: relative;
                    width: 50px;
                    top: 5px;
                    left: 10px;
                    padding: 0;
                    .translater{
                        top: 7px;
                        left: 30px;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        border-right:1px solid black;
                        border-bottom:1px solid black;
                        transform: rotateZ(-45deg);
                    }
                    &:hover{
                        .translater{
                            transition: all 0.2s ease-in-out;
                            top: 5;
                            left: 35px;
                            transform: rotateZ(45deg);
                        }
                        .op {
                            transition: all 0.5s ease-in-out;
                            display: inline;
                            
                            .op1{
                                
                                cursor: pointer;
                                border: 1px solid black;
                                height: 20px !important;
                                color: white;
                                background: linear-gradient(to bottom, white, blue, red);
                                &:hover{
                                background-color: blueviolet;
                                border-radius: 10px;
                                }
                            }
                            .op2{
                                
                                cursor: pointer;
                                border: 1px solid black;
                                height: 20px !important;
                                color: white;
                                background: linear-gradient(to bottom, darkblue, red, darkblue);
                                &:hover{
                                background-color: blueviolet;
                                border-radius: 10px;
                                }
                            }
                            .op3{
                                
                                cursor: pointer;
                                border: 1px solid black;
                                height: 20px !important;
                                background:linear-gradient(to bottom, blue, white, green);
                                &:hover{
                                background-color: blueviolet;
                                border-radius: 10px;
                                }
                            }
                        .rus{
                            width: 18px;
                            position: absolute;
                            left: 12px;
                            top: 25px;
                        }
                        .eng{
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            left: 12px;
                            top: 45px;
                            border-radius: 30px;
                        }
                        .uzb{
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            left: 12px;
                            top: 65px;
                            border-radius: 30px;
                        }
                        }
                    }
                    .op{
                     display: none;   
                    }
                }
                .raz{
                    padding-top: 10px !important;
                    text-align: center;
                }
                &:hover{
                    transition: all 0.5s ease-in-out;
                    opacity: 1;
                }
            }
    }
}
}
.menu{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: #c0c0c0;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px,  #FF2D95 0px 0px 75px;}
.slider{
    margin: 5px;
.another{
  top: 100px;
}
.item{
  height: 300px !important;
  margin: 10px;
  .childitem1{
      text-align: center;
  }
  .imit{
      overflow: hidden;
  img{
      filter: brightness(50%);
    &:hover{
        filter: brightness(100%);
        transition: all .5s ease-in-out;
        transform: scale(1.2);
        cursor: pointer;
    }
  }
}
}
}

.FAQs{
    margin: 10px;
    
    .FirstFaq{
        display: flex;

    .hambur{
            position: absolute;
            z-index: 51;
            background-color: blueviolet;
            width: 50px;
            height: 50px;
            border-radius:10px ;
            margin-top: 65px;
            margin-left: 1350px;
            &:hover{
                cursor: pointer;
            }

        }
        .letter{
            position: absolute;
            width: 500px;
            margin-left: 750px;
            z-index: 55;
        } 
    .pech{
        margin-top: 200px;
    }

    .PIRST{   
         display: none;
         margin-left: -90px;

       
    .FAQ-1{
        display: flex;
        position: absolute;
        margin-left: 660px;
        margin-top: 50px;
        z-index: 1;
        background-color: white;
        width: 500px;
        transform: rotateZ(10deg);
        border: 1px solid black;
        border-radius:10px;
        overflow: hidden;
        &:hover{
            z-index: 50;
            margin-left: 500px;
            transition: all .5s ease-in-out;
            transform: rotateZ(0deg);
        }
        
        .FAQ-1img{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
    .FAQ-2{
        display: flex;
        position: absolute;
        margin-left: 675px;
        margin-top: 90px;
        transform: rotateZ(0deg);
        background-color: white;
        width: 500px;
        z-index: 2;
        border: 1px solid black;
        border-radius:10px;
        overflow: hidden;
        &:hover{
            z-index: 50;
            margin-left: 500px;
            transition: all .5s ease-in-out;
            transform: rotateZ(0deg);
        }

        .FAQ-2img{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
    .FAQ-3{
        display: flex;
        position: absolute;
        margin-top: 120px;
        background-color: white;
        z-index: 3;
        margin-left: 700px;
        transform: rotateZ(-10deg);
        width: 500px;
        border: 1px solid black;
        border-radius:10px;
        overflow: hidden;
        &:hover{
            z-index: 50;
            margin-left: 500px;
            transition: all .5s ease-in-out;
            transform: rotateZ(0deg);
        }

        .FAQ-3img{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
    .FAQ-4{
        display: flex;
        position: absolute;
        margin-top: 150px;
        background-color: white;
        z-index: 4;
        margin-left: 730px;
        transform: rotateZ(-20deg);
        width: 500px;
        border: 1px solid black;
        border-radius:10px;
        overflow: hidden;
        &:hover{
            z-index: 50;
            margin-left: 500px;
            transition: all .5s ease-in-out;
            transform: rotateZ(0deg);
        }
        
        .FAQ-4img{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
    .FAQ-5{
        display: flex;
        position: absolute;
        margin-top: 180px;
        background-color: white;
        z-index: 5;
        margin-left: 770px;
        transform: rotateZ(-30deg);
        width: 500px;
        border: 1px solid black;
        border-radius:10px;
        overflow: hidden;
        &:hover{
            z-index: 50;
            margin-left: 500px;
            transition: all .5s ease-in-out;
            transform: rotateZ(0deg);
        }
        
        .FAQ-5img{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
    .FAQ-6{
        display: flex;
        position: absolute;
        margin-top: 200px;
        background-color: white;
        z-index: 6;
        margin-left: 810px;
        transform: rotateZ(-40deg);
        width: 500px;
        border: 1px solid black;
        border-radius:10px;
        overflow: hidden;
        &:hover{
            z-index: 50;
            margin-left: 500px;
            transition: all .5s ease-in-out;
            transform: rotateZ(0deg);
        }
        
        .FAQ-6img{
            img{
                width: 200px;
                height: 200px;
            }
        }
    }
}
}
.SecondFaq{
    .pech1{
        position: absolute;
        margin-top: 400px;
    }
    .arrow1 {
        position: absolute;
        width: 80px;
        height: 50px;
        margin-left: 400px;
        margin-top: -50px;
        
        div {
            position: absolute;
            top: 20px;
            width: 90px;
            height: 10px;
            background-color: #337AB7;
            left:0;
            display: block;
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 10px;
                top: -11px;
                right: -8px;
                background-color: #337AB7;
                transform: rotate(45deg);
            }
            &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 10px;
                top: 11px;
                right: -8px;
                background-color: #337AB7;
                transform: rotate(-45deg);
            }
        }
    }
    .arrow2 {
        position: absolute;
        width: 80px;
        height: 50px;
        margin-left: 400px;
        margin-top: 390px;
        
        div {
            position: absolute;
            top: 20px;
            width: 90px;
            height: 10px;
            background-color: #337AB7;
            left:0;
            display: block;
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 10px;
                top: -11px;
                right: -8px;
                background-color: #337AB7;
                transform: rotate(45deg);
            }
            &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 10px;
                top: 11px;
                right: -8px;
                background-color: #337AB7;
                transform: rotate(-45deg);
            }
        }
    }
    .arrow3 {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: 370px;
        margin-left: 1450px;
        border-top: 5px solid #6E18C0;
        border-right: 5px solid #6E18C0;
        margin-right: 60px;
        transform: rotateZ(135deg);
    }
    .arrow4 {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: 430px;
        margin-left: 1450px;
        border-top: 5px solid #6E18C0;
        border-right: 5px solid #6E18C0;
        margin-right: 60px;
        transform: rotateZ(-45deg);
    }
    .otv{
        position: absolute;
        margin-left: 690px;
        margin-top: 395px;

        a{
            text-decoration: none;
            color: black;

        }
    }
}
}
.ab{
    margin-top: 10px;
}
.abo{
     margin: 10px !important;

    .fir{
        background-color: whitesmoke;
        border-radius: 5px;
    }
    .sec{
        margin-left: 0;
        .row{
            margin-top: 10px;
            div{
                h3{
                    color: violet;
                }
            }
            .geo-icon-16{
                margin-top: 10px;
                width: 40px;
            }
            .telel{
                p{
                    font-family: sans-serif !important;
                }
            }
        }
        .gmap_iframe{
            width: 730px;
            height: 300px;
        }
    }
}
.contactus{
    background: linear-gradient(to right, pink, blueviolet);
    .col{
        .inpo{
            margin-top: 20px;
            margin-left: 10px;
            color:white;
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom:1px solid #fff;
            &::placeholder{
                color:$ghost ;
            }
        }
        .otpr{
            width: 100%;
            height: 50px;
            color: $ghost;
            margin-left: 9px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
        }
    }
    .nap{
        margin-left: 250px;
        color: #c0c0c0;
    }
        .ow{
            margin-left: 30px;
            .row{
                margin-top: 10px;
                div{
                    h3{
                        color: violet;
                    }
                }
                .geo-icon-16{
                    margin-top: 10px;
                    width: 40px;
                }
                .telel{
                    p{
                        font-family: sans-serif !important;
                    }
                }
        }
    }
}
.foot{
    background-color: #212121;
    height: 200px;

    .row{
    .tele{
        margin-left: 30px;
        text-decoration: none;
        color: pink;
    }
    .telegin{
        margin-left: 10px;
        width: 50px;
    }
    p{
        color: pink;
        margin-left: 30px;
        
        span{
            margin-left: 30px;
            color: $ghost;
            font-family: sans-serif;
        }
    }
}
}
footer{
    margin: 0;
    background-color: #000;
    color: #f1f1f1;
    text-align: center;
}
}
.message{
    .d{
        position: fixed;
        z-index: 100;
        left: 1145px;
        border-radius: 10px;
        bottom: 2px;
        width: 300px;
        height: 400px;
        background-color: #000;
    }
        img{
        z-index: 100;
        cursor: pointer;
        left: 1450px;
        top: 665px;
        position: fixed;
        width: 60px;
    }
}
};